{% extends '::layout.html.twig' %}

{% block title %}Listar Familias{% endblock %}

{% block content %}
    <h2 class="well">Listado de Familias</h2>

    {% if familias %}
        {{ form(formulario_paises) }}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Alumno/s</th>
                <th>Miembro/s</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>Pais</th>
                <th>Téléfono</th>
                <th>Tiene Mascota/s</th>
                <th>Detalles Mascota/s</th>
                <th>Puede Acogimiento Múltiple</th>
                <th>Puede Compartir Alumno</th>
                <th>Detalles Compartir Alumno</th>
                <th>Tiene Habitación Extra</th>
                <th>Observaciones</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for familia in familias %}
                <tr>
                    <td>
                        <ul>
                            {% for alumno in familia.alumnos %}
                                <li><a href="#">{{ alumno.usuario }}</a></li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                            {% for miembro in familia.miembros %}
                                <li>{{ miembro.apellidos }} {{ miembro.nombre }}</li>
                                <li>{{ miembro.fechaNacimiento|date("d/m/Y") }}</li>
                                <li>{{ miembro.correoElectronico }}</li>
                                <li>{{ miembro.telefono }}</li>
                                <li>{{ (miembro.sexo == 'M' ? 'Masculino' : 'Femenino') }}</li>
                                <li>{{ miembro.tipo }}</li>
                                <hr/>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ familia.direccion }}</td>
                    <td>{{ familia.ciudad }} ({{ familia.provincia }})</td>
                    <td>{{ familia.pais }}</td>
                    <td>{{ familia.telefono }}</td>
                    <td>{{ familia.tieneMascota ? 'Sí' : 'No' }}</td>
                    <td>{{ familia.detallesMascota }}</td>
                    <td>{{ familia.puedeMultiAlumno ? 'Sí' : 'No' }}</td>
                    <td>{{ familia.puedeCompartirAlumno ? 'Sí' : 'No' }}</td>
                    <td>{{ familia.detallesCompartirAlumno }}</td>
                    <td>{{ familia.tieneHabitacionExtra ? 'Sí' : 'No' }}</td>
                    <td>{{ familia.observaciones }}</td>
                    <td>
                        <a href="{{ path('familia_modificar', { 'familia': familia.id }) }}" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="{{ path('familia_eliminar', { 'familia': familia.id }) }}" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No hay Familias para mostrar</h3>
    {% endif %}

    <a href="{{ path('inicio') }}" class="btn btn-info">Volver al Inicio</a>&nbsp;
    <a href="{{ path('familia_nuevo') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Crear una nueva Familia </a>
{% endblock %}