{% extends '::layout.html.twig' %}

{% block title %}Listar Familias{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <h2 class="well">Listado de Familias</h2>

    {% if familias %}
        {{ form(formulario_paises) }}
        {% if is_granted('ROLE_ADMIN') %}
            <form method="post" action="{{ path('grupo_familia_eliminar') }}">
        {% endif %}
        <table class="table table-bordered table-condensed table-hover table-striped display" id="tabla">
            <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="seleccion" id="multiple"><i class="glyphicon glyphicon-check"></i></th>
                {% endif %}
                <th>Descripción</th>
                <th>Alumno/s</th>
                <th>Miembro/s</th>
                <th>Dirección</th>
                <th>Ciudad</th>
                <th>Pais</th>
                <th>Téléfono</th>
                <th>Tiene Mascota/s</th>
                <th>Detalles Mascota/s</th>
                <th>Puede Acogimiento Múltiple</th>
                <th>Puede Compartir Alumno</th>
                <th>Detalles Compartir Alumno</th>
                <th>Tiene Habitación Extra</th>
                <th>Observaciones</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for familia in familias %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="seleccion"><input type="checkbox" value="{{ familia.id }}" name="grupoFamilias[]"/></td>
                    {% endif %}
                    <td>{{ familia.descripcion }}</td>
                    <td>
                        {% for alumno in familia.alumnos %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('usuario_modificar', { 'usuario': alumno.id }) }}">{{ alumno }}</a>
                            {% else %}
                                {{ alumno }}
                            {% endif %}
                            <hr/>
                        {% endfor %}
                    </td>
                    <td>
                        <ul>
                            {% for miembro in familia.miembros %}
                                <li>{{ miembro.apellidos }} {{ miembro.nombre }}</li>
                                <li>{{ miembro.fechaNacimiento|date("d/m/Y") }}</li>
                                <li>{{ (miembro.sexo == 'M' ? 'Masculino' : 'Femenino') }}</li>
                                <li>{{ miembro.tipo }}</li>
                                <hr/>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ familia.direccion }}</td>
                    <td>{{ familia.ciudad }} ({{ familia.provincia }})</td>
                    <td>{{ familia.pais }}</td>
                    <td>{{ familia.telefono }}</td>
                    <td>{{ familia.tieneMascota ? 'Sí' : 'No' }}</td>
                    <td>{{ familia.detallesMascota }}</td>
                    <td>{{ familia.puedeMultiAlumno ? 'Sí' : 'No' }}</td>
                    <td>{{ familia.puedeCompartirAlumno ? 'Sí' : 'No' }}</td>
                    <td>{{ familia.detallesCompartirAlumno }}</td>
                    <td>{{ familia.tieneHabitacionExtra ? 'Sí' : 'No' }}</td>
                    <td>{{ familia.observaciones }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('familia_eliminar', { 'familia': familia.id }) }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No hay Familias para mostrar</h3>
    {% endif %}

    <a href="{{ path('inicio') }}" class="btn btn-info">Volver al Inicio</a>&nbsp;
    {% if is_granted('ROLE_ADMIN') %}
        {% if familias %}
            <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-trash"></i> Eliminar Familias seleccionados</button>
        {% endif %}
        <!--<a href="{{ path('familia_nuevo') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Crear una nueva Familia </a>-->
        </form>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% javascripts '@AppBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}