{% extends '::layout.html.twig' %}

{% block title %}Listar Intercambios{% endblock %}

{% block content %}
    <h1 class="well">Listado de Intercambios</h1>

    {{ form(formulario_fechas) }}
    {% if intercambios %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>F. Inicio</th>
                <th>F. Fin</th>
                <th>Observaciones</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for intercambio in intercambios %}
                <tr>
                    <td>{{ intercambio.fechaInicio|date("d/m/Y") }}</td>
                    <td>{{ intercambio.fechaFin|date("d/m/Y") }}</td>
                    <td>{{ intercambio.observaciones }}</td>
                    <td>
                        <a href="{{ path('intercambio_modificar', { 'intercambio': intercambio.id }) }}" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i> Modificar
                        </a>
                        <a href="{{ path('intercambio_eliminar', { 'intercambio': intercambio.id }) }}" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-trash"></i> Eliminar
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No hay Intercambios para mostrar</h2>
    {% endif %}

    <a href="{{ path('inicio') }}" class="btn btn-info">Volver al Inicio</a>&nbsp;
    <a href="{{ path('intercambio_nuevo') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Crear un nuevo Intercambio </a>
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}