{% extends '::layout.html.twig' %}

{% block title %}Listar Intercambios{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <h2 class="well">Listado de Intercambios</h2>

    {{ form(formulario_fechas) }}
    {% if intercambios %}
        <table class="table table-bordered table-condensed table-hover table-striped display" id="tabla">
            <thead>
            <tr>
                <th>F. Inicio</th>
                <th>F. Fin</th>
                <th>Grupo/s</th>
                <th>Observaciones</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for intercambio in intercambios %}
                <tr>
                    <td>{{ intercambio.fechaInicio|date("d/m/Y") }}</td>
                    <td>{{ intercambio.fechaFin|date("d/m/Y") }}</td>
                    <td>
                        <ul>
                            {% for grupo in intercambio.grupos %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('grupo_modificar', { 'grupo': grupo.id }) }}">{{ grupo }}</a>
                                {% else %}
                                    {{ grupo }}
                                {% endif %}
                                <hr/>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ intercambio.observaciones }}</td>
                    <td>
                        <a href="{{ path('intercambio_modificar', { 'intercambio': intercambio.id }) }}" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="{{ path('intercambio_eliminar', { 'intercambio': intercambio.id }) }}" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No hay Intercambios para mostrar</h3>
    {% endif %}

    <a href="{{ path('inicio') }}" class="btn btn-info">Volver al Inicio</a>&nbsp;
    <a href="{{ path('intercambio_nuevo') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Crear un nuevo Intercambio </a>
{% endblock %}

{% block javascripts %}
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% javascripts '@AppBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}