{% extends '::layout.html.twig' %}

{% block title %}Listar Alumnos{% endblock %}

{% block content %}
    <h1 class="well">Listado de Alumnos</h1>

    {% if alumnos %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Usuario</th>
                <th>Problemas de Salud</th>
                <th>Detalles Problemas de Salud</th>
                <th>Fumador</th>
                <th>Bebedor</th>
                <th>Ha Viajado al Extranjero</th>
                <th>Detalles Viaje Extranjero</th>
                <th>Preferencia de Compañero/a</th>
                <th>Descripción</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for alumno in alumnos %}
                <tr>
                    <td><a href="#">{{ alumno.usuario }}</a></td>
                    <td>{{ alumno.tieneProblemasSalud ? 'Sí' : 'No' }}</td>
                    <td>{{ alumno.detallesProblemasSalud }}</td>
                    <td>{{ alumno.esFumador ? 'Sí' : 'No' }}</td>
                    <td>{{ alumno.esBebedor ? 'Sí' : 'No' }}</td>
                    <td>{{ alumno.haViajadoExtranjero ? 'Sí' : 'No' }}</td>
                    <td>{{ alumno.detallesViajeExtranjero }}</td>
                    <td>
                        <ul>
                        {% for companero in alumno.preferenciaCompanero %}
                            <li>{{ companero.usuario }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>{{ alumno.descripcion }}</td>
                    <td>
                        <a href="{{ path('alumno_modificar', { 'alumno': alumno.id }) }}" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i> Modificar
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No hay Alumnos para mostrar</h2>
    {% endif %}

    <a href="{{ path('inicio') }}" class="btn btn-info">Volver al Inicio</a>&nbsp;
    <a href="{{ path('alumno_nuevo') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Crear un nuevo Alumno </a>
{% endblock %}