{% extends '::layout.html.twig' %}

{% block title %}Nuevo Alumno{% endblock %}

{% block content %}
    <h1 class="well">Añadir un nuevo Alumno</h1>

    {{ form_start(formulario) }}

    {{ form_row(formulario.usuario) }}
    {{ form_row(formulario.curso) }}
    {{ form_row(formulario.tieneProblemasSalud) }}
    {{ form_row(formulario.detallesProblemasSalud) }}
    {{ form_row(formulario.esFumador) }}
    {{ form_row(formulario.esBebedor) }}
    {{ form_row(formulario.haViajadoExtranjero) }}
    {{ form_row(formulario.detallesViajeExtranjero) }}
    {{ form_row(formulario.preferenciaCompanero) }}
    {{ form_row(formulario.descripcion) }}

    <div class="form-group">
        <label class="col-sm-2 control-label">Idioma/s</label>
        <div class="col-sm-10">
            <ul class="idiomas" style="padding-top: 10px; list-style: none;"
                data-prototype="{{ form_widget(formulario.idiomas.vars.prototype)|e }}">
            </ul>
        </div>
    </div>
    {{ form_row(formulario.aficiones) }}
    {{ form_row(formulario.familia) }}

    {{ form_end(formulario) }}

    <a href="{{ path('alumnos_listar') }}" class="btn btn-info">Volver al listado de Alumnos</a>
{% endblock %}

{% block javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/js/*'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}