{% extends '::layout.html.twig' %}

{% block title %}Listar Mensajes{% endblock %}

{% block content %}
    <h2 class="well">Listado de Mensajes</h2>

    {{ form(formulario_usuarios) }}
    {% if mensajes %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Destinatario</th>
                <th>Fecha Envio</th>
                <th>Recibido</th>
                <th>Contenido</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for mensaje in mensajes %}
                <tr>
                    <td>{{ mensaje.usuarioDestino }}</td>
                    <td>{{ mensaje.fechaEnvio|date("d/m/Y H:i") }}</td>
                    <td><i class="glyphicon glyphicon-{{ mensaje.estaRecibido ? 'ok' : 'remove' }}"></i></td>
                    <td>{{ mensaje.contenido }}</td>
                    <td>
                        {#% if is_granted('ROLE_ADMIN') %#}
                            <a href="{{ path('mensaje_modificar', { 'mensaje': mensaje.id }) }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="{{ path('mensaje_eliminar', { 'mensaje': mensaje.id }) }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        {#% endif %#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No hay Mensajes para mostrar</h3>
    {% endif %}

    <a href="{{ path('inicio') }}" class="btn btn-info">Volver al Inicio</a>&nbsp;
    <a href="{{ path('mensaje_nuevo') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Crear un nuevo Mensaje</a>
{% endblock %}