{% extends '::layout.html.twig' %}

{% block title %}Modificar Mensaje {{ mensaje.usuarioDestino }}{% endblock %}

{% block content %}
    <h2 class="well"> Modificar Mensaje {{ mensaje.usuarioDestino }}</h2>

    {{ form(formulario) }}

    <a href="{{ path('mensajes_listar') }}" class="btn volver cbutton cbutton--effect-novak-volver">Volver al listado de Mensajes</a>
{% endblock %}

{% block javascripts %}
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% javascripts '@AppBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}