{% extends '::layout.html.twig' %}

{% block title %}Listar Alumnos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <h2 class="well">Listado de Alumnos</h2>

    {{ form(formulario_auxilar) }}
    {% if is_granted('ROLE_ADMIN') %}
        <form method="post" action="{{ path('grupo_usuarios_eliminar') }}">
    {% endif %}
    {% if usuarios %}
        <table class="table table-bordered table-condensed table-hover table-striped display" id="tabla">
            <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="seleccion" id="multiple"><i class="glyphicon glyphicon-check"></i></th>
                {% endif %}
                <th>Usuario</th>
                <th>Curso</th>
                <th>País</th>
                <th>Idioma/s</th>
                <th>Afición/es</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="seleccion"><input type="checkbox" value="{{ usuario.id }}" name="grupoUsuarios[]"/></td>
                    {% endif %}
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('usuario_modificar', { 'usuario': usuario.id }) }}">{{ usuario }}</a>
                        {% else %}
                            {{ usuario }}
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('curso_modificar', { 'curso': usuario.curso.id }) }}">{{ usuario.curso }}</a>
                        {% else %}
                            {{ usuario.curso }}
                        {% endif %}
                    </td>
                    <td>{{ usuario.pais }}</td>
                    <td>
                        {% if usuario.idiomas|length > 0 %}
                            {% for idioma in usuario.idiomas %}
                                <ul>{{ idioma.descripcion }}
                                    <li>{{ idioma.reading }}</li>
                                    <li>{{ idioma.writing }}</li>
                                    <li>{{ idioma.speaking }}</li>
                                </ul>
                                <hr/>
                            {% endfor %}
                        {% else %}
                            Sin Idiomas
                        {% endif %}
                    </td>
                    <td>
                        {% if usuario.aficiones|length > 0 %}
                            <ul>
                                {% for aficion in usuario.aficiones %}
                                    <li>{{ aficion }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Sin Aficiones
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('usuario_consultar', { 'usuario': usuario.id }) }}" class="btn btn-default btn-xs cbutton cbutton--effect-novak-enlace" title="Consultar">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('usuario_modificar', { 'usuario': usuario.id }) }}" class="btn btn-default btn-xs cbutton cbutton--effect-novak-enlace" title="Modificar">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="{{ path('usuario_eliminar', { 'usuario': usuario.id }) }}" class="btn btn-default btn-xs cbutton cbutton--effect-novak-enlace" title="Borrar">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
            <p>No hay Usuarios para mostrar</p>
        </div>
    {% endif %}

    <a href="{{ path('inicio') }}" class="btn volver cbutton cbutton--effect-novak-volver">Volver al Inicio</a>&nbsp;
    {% if is_granted('ROLE_ADMIN') %}
        {% if usuarios %}
            <button type="submit" class="btn precaucion cbutton cbutton--effect-novak-precaucion"><i class="glyphicon glyphicon-trash"></i> Eliminar Alumnos seleccionados</button>
        {% endif %}
    {% endif %}
    <a href="{{ path('usuario_nuevo_admin') }}" class="btn crear cbutton cbutton--effect-novak-crear"><i class="glyphicon glyphicon-plus"></i> Crear un nuevo Alumno </a>
    {% if is_granted('ROLE_ADMIN') %}
        </form>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% javascripts '@AppBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}