{% extends '::layout.html.twig' %}

{% block title %}Listar Centros{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <h2 class="well">Listado de Centros</h2>

    {% if centros %}
        {{ form(formulario_paises) }}
        {% if is_granted('ROLE_ADMIN') %}
            <form method="post" action="{{ path('grupo_centro_eliminar') }}">
        {% endif %}
        <table class="table table-bordered table-condensed table-hover table-striped display" id="tabla">
            <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="seleccion" id="multiple"><i class="glyphicon glyphicon-check"></i></th>
                {% endif %}
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Pais</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for centro in centros %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="seleccion"><input type="checkbox" value="{{ centro.id }}" name="grupoCentros[]"/></td>
                    {% endif %}
                    <td>{{ centro.nombre }}</td>
                    <td>{{ centro.ciudad }} {% if centro.provincia %}({{ centro.provincia }}){% endif %}</td>
                    <td>{{ centro.pais }}</td>
                    <td>{{ centro.direccion }}</td>
                    <td>{{ centro.telefono }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('centro_modificar', { 'centro': centro.id }) }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="{{ path('centro_eliminar', { 'centro': centro.id }) }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-trash"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No hay Centros para mostrar</h3>
    {% endif %}

    <a href="{{ path('inicio') }}" class="btn btn-info">Volver al Inicio</a>&nbsp;
    {% if is_granted('ROLE_ADMIN') %}
        {% if centros %}
            <button type="submit" class="btn btn-warning"><i class="glyphicon glyphicon-trash"></i> Eliminar Centros seleccionados</button>
        {% endif %}
        <a href="{{ path('centro_nuevo') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Crear un nuevo Centro</a>
        </form>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% javascripts '@AppBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}