{% extends '::layout.html.twig' %}

{% block title %}Listar Centros{% endblock %}

{% block content %}
    <h2 class="well">Listado de Centros</h2>

    {% if centros %}
        {{ form(formulario_paises) }}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>Pais</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for centro in centros %}
                <tr>
                    <td>{{ centro.nombre }}</td>
                    <td>{{ centro.ciudad }} {% if centro.provincia %}({{ centro.provincia }}){% endif %}</td>
                    <td>{{ centro.pais }}</td>
                    <td>{{ centro.direccion }}</td>
                    <td>{{ centro.telefono }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('centro_modificar', { 'centro': centro.id }) }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-pencil"></i> Modificar
                            </a>
                            <a href="{{ path('centro_eliminar', { 'centro': centro.id }) }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-trash"></i> Eliminar
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No hay Centros para mostrar</h3>
    {% endif %}

    <a href="{{ path('inicio') }}" class="btn btn-info">Volver al Inicio</a>&nbsp;
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('centro_nuevo') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Crear un nuevo Centro</a>
    {% endif %}
{% endblock %}