{% extends '::layout.html.twig' %}

{% block title %}Listar Grupos{% endblock %}

{% block content %}
    <h2 class="well">Listado de Grupos</h2>

    {{ form(formulario_coordinadores) }}
    {% if grupos %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
            <tr>
                <th>Descripción</th>
                <th>Coordinador/es</th>
                <th>Alojamiento/s</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for grupo in grupos %}
                <tr>
                    <td>{{ grupo.descripcion }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('usuario_modificar', { 'usuario': grupo.coordinador.id }) }}">{{ grupo.coordinador }}</a>
                        {% else %}
                            {{ grupo.coordinador }}
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                        {% for alojamiento in grupo.alojamientos %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('usuario_modificar', { 'usuario': alojamiento.alumno.id }) }}">{{ alojamiento.alumno }}</a></li>
                                <li>{{ alojamiento.familia }}</li>
                            {% else %}
                                <li>{{ alojamiento.alumno }}</li>
                                <li>{{ alojamiento.familia }}</li>
                            {% endif %}
                            <hr/>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path('grupo_modificar', { 'grupo': grupo.id }) }}" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                        <a href="{{ path('grupo_eliminar', { 'grupo': grupo.id }) }}" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No hay Grupos para mostrar</h3>
    {% endif %}

    <a href="{{ path('inicio') }}" class="btn btn-info">Volver al Inicio</a>&nbsp;
    <a href="{{ path('grupo_nuevo') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Crear un nuevo Grupo </a>
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}