{% extends '::layout.html.twig' %}

{% block title %}Modificar Grupo {% endblock %}

{% block content %}
    <h2 class="well"> Modificar Grupo</h2>

    {{ form_start(formulario) }}

    <div class="form-group">
        <label class="col-sm-2 control-label">Alojamiento/s</label>
        <div class="col-sm-10">
            <ul class="coleccion" style="padding-top: 10px; list-style: none;"
                data-prototype="{{ form_widget(formulario.alojamientos.vars.prototype)|e }}">
                {% for alojamiento in formulario.alojamientos %}
                    <li>{{ form_row(alojamiento.alumno) }}</li>
                    <li>{{ form_row(alojamiento.familia) }}</li>
                    <hr />
                {% endfor %}
            </ul>
        </div>
    </div>

    {{ form_end(formulario) }}

    <a href="{{ path('grupos_listar') }}" class="btn volver cbutton cbutton--effect-novak-volver">Volver al listado de Grupos</a>
{% endblock %}

{% block javascripts %}
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% javascripts '@AppBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}