{% extends '::layout.html.twig' %}

{% block title %}
    Acceso a la aplicación
{% endblock %}

{% block content %}
    <div class="container col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">Acceso &mdash; Young Connection</div>
            <div class="panel-body">
                {% if error %}
                    <div class="alert alert-danger alert-dismissable">
                        {{ error.message | trans }}
                    </div>
                {% endif %}
                <form method="post" action="{{ path('usuario_comprobar') }}">
                    <fieldset>
                        <legend>
                            Introduzca los datos de acceso
                            <a href="{{ path('usuario_recordar') }}" class="recordar" title="Recordar Contraseña">
                                <i class="glyphicon glyphicon-exclamation-sign"></i>
                            </a>
                        </legend>
                        <div class="form-group">
                            <label for="username">Correo electrónico</label>
                            <input type="text" class="form-control" name="_username"
                                   {% if not ultimo_usuario %}autofocus="1" {% endif %} autocorrect="off"
                                   autocapitalize="off" placeholder="Correo con el que se registró"
                                   value="{{ ultimo_usuario }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" name="_password"
                                   {% if ultimo_usuario %}autofocus="1" {% endif %}
                                   placeholder="Contraseña de acceso">
                        </div>
                        <div class="btn-group btn-block">
                            <button type="submit" class="btn btn-primary col-xs-6 col-md-6">
                                <i class="glyphicon glyphicon-log-in"></i> Conectarse
                            </button>
                            <a href="{{ path('usuario_nuevo') }}" class="btn btn-success col-xs-6 col-md-6">
                                <i class="glyphicon glyphicon-user"></i> Registrarse
                            </a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
