{% extends '::layout.html.twig' %}

{% block title %}Listar Cursos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <h2 class="well">Listado de Cursos</h2>

    {% if cursos %}
        {{ form(formulario_familias) }}
        {% if is_granted('ROLE_ADMIN') %}
            <form method="post" action="{{ path('grupo_curso_eliminar') }}">
        {% endif %}
        <table class="table table-bordered table-condensed table-hover table-striped display" id="tabla">
            <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th class="seleccion" id="multiple"><i class="glyphicon glyphicon-check"></i></th>
                {% endif %}
                <th>Descripción</th>
                <th>Familia</th>
                <th>Centro</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for curso in cursos %}
                <tr>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td class="seleccion"><input type="checkbox" value="{{ curso.id }}" name="grupoCursos[]"/></td>
                    {% endif %}
                    <td>{{ curso.descripcion }}</td>
                    <td>{{ curso.familia }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('centro_modificar', { 'centro': curso.centro.id }) }}">{{ curso.centro }}</a>
                        {% else %}
                            {{ curso.centro }}
                        {% endif %}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('curso_modificar', { 'curso': curso.id }) }}" class="btn btn-default btn-xs cbutton cbutton--effect-novak-enlace">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="{{ path('curso_eliminar', { 'curso': curso.id }) }}" class="btn btn-default btn-xs cbutton cbutton--effect-novak-enlace">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No hay Cursos para mostrar</h3>
    {% endif %}

    <a href="{{ path('inicio') }}" class="btn volver cbutton cbutton--effect-novak-volver">Volver al Inicio</a>&nbsp;
    {% if is_granted('ROLE_ADMIN') %}
        {% if cursos %}
            <button type="submit" class="btn precaucion cbutton cbutton--effect-novak-precaucion"><i class="glyphicon glyphicon-trash"></i> Eliminar Cursos seleccionados</button>
        {% endif %}
        <a href="{{ path('curso_nuevo') }}" class="btn crear cbutton cbutton--effect-novak-crear"><i class="glyphicon glyphicon-plus"></i> Crear un nuevo Curso</a>
        </form>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% javascripts '@AppBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}