{% extends '::layout.html.twig' %}

{% block title %}Listar Cursos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.7/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
    <h2 class="well">Listado de Cursos</h2>

    {% if cursos %}
        {{ form(formulario_familias) }}
        <table class="table table-bordered table-condensed table-hover table-striped display" id="tabla">
            <thead>
            <tr>
                <th>Descripción</th>
                <th>Familia</th>
                <th>Centro</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for curso in cursos %}
                <tr>
                    <td>{{ curso.descripcion }}</td>
                    <td>{{ curso.familia }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('centro_modificar', { 'centro': curso.centro.id }) }}">{{ curso.centro }}</a>
                        {% else %}
                            {{ curso.centro }}
                        {% endif %}
                    </td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('curso_modificar', { 'curso': curso.id }) }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </a>
                            <a href="{{ path('curso_eliminar', { 'curso': curso.id }) }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3>No hay Cursos para mostrar</h3>
    {% endif %}

    <a href="{{ path('inicio') }}" class="btn btn-info">Volver al Inicio</a>&nbsp;
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('curso_nuevo') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Crear un nuevo Curso</a>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}